<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/static/javascripts/jquery.min.js"></script>
</head>
<body>
  管理员账号：<input id="name" type="" placeholder="请输入管理员账号">
  密 码：<input id="password" type="password" placeholder="请输入密码">
  <button id="submit">提交</button>
</body>
<script>
  $('#submit').on('click',function(){
    debugger
    $.ajax({
        type:'post',
        url:'/api/hotel/add_custom',
        data:{
          'name':$('#name').val(),
          'passwd':$('#password').val(),
        },
        success:function(e){
          debugger
        },
        error:function(e){
          debugger
        }
    })
  })
</script>
</html>
