<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/javascripts/jquery.min.js"></script>
</head>

<body>
    <div>房间编号：<input id="num" type="text" placeholder="请输入房间编号"></div>
    <div>房间类型: <select name="" id="select_type">
            <option value="0">请选择房间类型</option>
            <!-- 数据 -->
        </select></div>
    <div>房间位置：<select name="" id="select_position">
            <option value="0">请选择房间位置</option>
            <!-- 数据 -->
        </select></div>
    <div>入住状态：<select name="" id="select_check">
            <option value="未入住" selected>未入住</option>
            <option value="已入住">已入住</option>
        </select></div>
    <div>房间描述：<input id="direcion" type="textarea"></div>
    <input type="reset" value="重置">
    <input id="submit" type="button" value="提交">
</body>
<script>
    // 渲染房间类别
    var html_ = '';
    $.ajax({
        type: 'post',
        url: '/api/hotel/select_type',
        success: function (e) {
            var data = JSON.parse(e).data;
            for (var i in data) {
                html_ += ` <option value="${data[i].type_id}">${data[i].type_name}</option>`
            }
            $('#select_type').append(html_);
        },
        error: function (e) {
            debugger
        }
    })

    // 渲染房间位置
    var htmls = '';
    $.ajax({
        type: 'post',
        url: '/api/hotel/select_position',
        success: function (e) {
            var data = JSON.parse(e).data;
            for (var i in data) {
                htmls += `<option value="${data[i].position_id}">${data[i].position}</option>`
            }
            $('#select_position').append(htmls);
        },
        error: function (e) {
            debugger
        }
    })
    // 提交的点击事件
    $('#submit').on('click', function () {
        if(url_ == null){
            addroom();
        }else{
            updateRoom();
            location.href = '/hotel/roomList';
        }
    })

    // 处理路径
    var url_ = '';
    function getId(key) {
        url_ = location.search.split('?')[1];
        if (url_ != null) {
            var url_arr = url_.split('&');
            for (var i in url_arr) {
                var res = url_arr[i].split('=');
                if (key == res[0]) {
                    return res[1];
                } else {
                    return null;
                }
            }
        }
    }
    // 将当前需要修改的房间信息渲染在input中
    is_id();
    var id_ = 0;
    function is_id() {
        var res = getId('ID');
        if (res != null) {
            getroom_infor(res, function (e) {
                for (var i in e) {
                    if (res == e[i].ID) {
                        id_ = e[i].ID;
                        $('#num').val(e[i].room_num);
                        $('#select_type').val(e[i].type_id);
                        $('#select_position').val(e[i].position_id);
                        $('#select_check').val(e[i].is_check);
                        $('#direcion').val(e[i].room_derication);
                    }
                }
            })
        }
    }
    // 获取当前修改的房间信息
    function getroom_infor(id_, callback) {
        $.ajax({
            type: 'post',
            url: '/api/hotel/selectMore',
            success: function (e) {
                var data = JSON.parse(e).data;
                callback(data);
            },
            error: function (e) {
                debugger
            }
        })

    }
    // 新增房间的方法
    function addroom() {
        var obj = {
            'room_num': $('#num').val(),
            'type_id': $('#select_type').val(),
            'position_id': $('#select_position').val(),
            'is_check': $('#select_check').val(),
            'room_derication': $('#direcion').val(),
        }
        $.ajax({
            type: 'post',
            url: '/api/hotel/addRoom',
            data: obj,
            success: function (e) {
                if (JSON.parse(e).code == '0') {
                    alert('添加成功');
                }
            },
            error: function (e) {
                debugger
            }
        })
    }
    // 修改房间信息
    function updateRoom(){
        var obj = {
            'ID':id_,
            'room_num': $('#num').val(),
            'type_id': $('#select_type').val(),
            'position_id': $('#select_position').val(),
            'is_check': $('#select_check').val(),
            'room_derication': $('#direcion').val(),
        }
        debugger
        $.ajax({
            type: 'post',
            url: '/api/hotel/updateRoom',
            data: obj,
            success: function (e) {
                if (JSON.parse(e).code == '0') {
                    alert('修改成功');
                }
            },
            error: function (e) {
                debugger
            }
        })
    }
   
</script>

</html>