<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/javascripts/jquery.min.js"></script>
</head>
<body>
    管理员：<input type="text">
    原始密码：<input type="password"  id="oldpw" value="">
    新密码：<input type="password"  id="newpw" value="">
    确认密码：<input type="password"  id="okpw" value="">
    <input type="button" id="submit" value="确定更改">
</body>
</html>